<%= form_tag jobs_path, :method => "get" do %>

<div class="searchform">
  <%= text_field_tag :search, params[:search], placeholder: "search title,company,location", class: "searchbox"%>
  <span>
    <%= submit_tag "搜索", :title => nil, :description => nil,:company => nil,:location => nil, class: "searchbotton" %>
    <!-- <input type="submit" value="点 击" class="mike"> -->
  </span>
</div>
<% end %>

<head>
  <style>

    #image2 {

      background-image: url('https://ww1.sinaimg.cn/large/006y8lVajw1fbz7gbupzxj30qo0f0mym.jpg');
      height: 900px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #text {
      color: #F9A825;
      font-size: 15px;
      font-weight: bolder;
    }

    #text2 {
      color: #4E342E;
    }

    .table-default {
      background-color: rgba(250, 250, 250, 0.4);

    }

  </style>
</head>
<body class="background" id="image2">

  <div class="dropdown clearfix pull-right" style="padding-top: 50px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sort
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("by_lower_bound", jobs_path(:order => "by_lower_bound")) %>
      </li>
      <li>
        <%= link_to("by_upper_bound", jobs_path(:order => "by_upper_bound")) %>

      </li>
      <li>
        <%= link_to("by_publish_time", jobs_path ) %>

      </li>
    </ul>
  </div>

  <table class="table table-default table-boldered custab">
    <thead id="text" style="color:black">
      <tr>
        <td>Title</td>
        <td>wage_lower_bound</td>
        <td>wage_upper_bound</td>
        <td>Company</td>
        <td>location</td>
        <td>published_time</td>
      </tr>
    </thead>
    <tbody id="text2">
      <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= render_job_status(job)%>
          <%= link_to(job.title, job_path(job), :style => "color:blue") %>
        </td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.company%></td>
        <td><%= job.location%></td>
        <td>
          <%= local_time(job.created_at, '%B %e, %Y %l:%M%p') %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</body>
